// カラー
$main-color: #4a4a4a;
$sab-color: #6f6f6f;
$bg-base-color: #ffffff;

// フォント
$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto Condensed", sans-serif;

// インナー
$main-inner-width: 1418px;
