// カラー
$main-color: #4a4a4a;
$sab-color: #6f6f6f;
$bg-base-color: #ffffff;
$bg-color: #fafafa;

// フォント
$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto Condensed", sans-serif;

$fz-base: 16px;
$base-lh: 1;

// インナー
$main-inner-width: 1418px;

$layout-width-inner: 1200px;

$breakpoints: (
//キー : 値
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'tab-pc': "(min-width: 768px)",
  'pc': "(min-width: #{$layout-width-inner})"
);

// 重なり順の定義

$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローディング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
)