@use "../global" as global;
@use "u-m-while";
@use "u-hidden";
@use "u-is";

.u-btn {
    margin-top: 20px;
    background-color: aqua;
    padding: 20px;
}

.dark-theme {
    background-color: global.$main-color;
}