@use "../global" as global;

.c-heading {
    font-size: clamp(2.5rem, 1.982rem + 2.21vw, 3.75rem);
    letter-spacing: 1.2px;
    color: #000;
    font-weight: 600;
    position: relative;
    font-family: global.$font-en;

    &::after {
        content: "-";
        padding-left: 15px;
    }
}

.c-heading span {
    position: absolute;
    padding-top: 10px;
    font-weight: 400;
    display: block;
    font-size: 16px;
    letter-spacing: normal;
    @include global.mq('sp'){
        font-size: 12px;
        padding-top: 7px;
    }
}