@use "../global" as global;

.c-heading {
    font-size: 60px;
    letter-spacing: 1.2px;
    color: #000;
    font-weight: 600;
    position: relative;
    font-family: global.$font-en;

    &::after {
        content: "-";
        padding-left: 15px;
    }
}

.c-heading span {
    position: absolute;
    padding-top: 10px;
    font-weight: 400;
    display: block;
    font-size: 16px;
    letter-spacing: normal;
}