@use "../global" as global;

.c-hamburger {
    display: none;
}

.c-hamburger__menu {
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 200;
}

.c-hamburger__menu span {
    background: #fff;
    width: 30px;
    height: 5px;
    border-radius: 20px;
    transition: ease .4s;
    display: block;

    &:not(:first-child) {
        margin-top: 5px;
    }
}

// u-active

.c-hamburger__menu.u-active span:nth-child(1) {
    rotate: 45deg;
    position: absolute;
    top: 50%;
}

.c-hamburger__menu.u-active span:nth-child(2) {
    opacity: 0;
}

.c-hamburger__menu.u-active span:nth-child(3) {
    rotate: -45deg;
    position: absolute;
    top: 0;
}