@use "../global" as global;

.c-nav-item {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: global.$font-en;
    padding: 10px;
    display: block;
    font-size: 15px;

    &::after {
        content: "-";
        padding-left: 5px;
    }

    i {
        padding-right: 15px;
    }

    &:hover {
        background-color: global.$bg-base-color;
        color: global.$main-color;
    }
}