@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  color: currentColor;
          text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  line-height: 1;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  transition: 0.5s;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.l-content__inner {
  display: flex;
}

.l-content-flex {
  display: flex;
  justify-content: center;
}

.l-content-flex__space:not(:first-child) {
  margin-left: 90px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-content-flex__space:not(:first-child) {
    margin-left: 6%;
  }
}

.l-btn-top {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.l-box__item-margin:not(:first-child) {
  margin-left: 24px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-box__item-margin:nth-child(2n+1) {
    margin-left: 24px;
  }
  .l-box__item-margin:nth-child(n+3) {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .l-box__item-margin:nth-child(n+2) {
    margin-top: 45px;
  }
  .l-box__item-margin:not(:first-child) {
    margin-left: 0;
  }
}

.l-nav__inner {
  text-align: center;
  width: 370px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-nav__inner {
    width: 20vh;
  }
}

.l-nav-bar__inner {
  max-width: 370px;
  text-align: center;
  width: 100%;
}

.l-img-massage {
  margin-right: 55px;
  margin-top: 25px;
}

.l-img-massage__m {
  margin-top: 70px;
}

.l-inner {
  margin: auto;
  max-width: 1418px;
  padding: 0 95px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-inner {
    padding: 0 45px;
  }
}
@media (max-width: 767px) {
  .l-inner {
    padding: 0 10px;
  }
}

.l-section-top__type1 {
  margin-top: 95px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-section-top__type1 {
    margin-top: 55px;
  }
}
@media (max-width: 767px) {
  .l-section-top__type1 {
    margin-top: 20px;
  }
}

.l-section-top__type2 {
  margin-top: 100px;
}

.l-section-top__text {
  margin-top: 85px;
}

.l-section-top__content {
  margin-top: 60px;
}

.l-section-btn {
  margin: 0 auto;
}

.c-btn {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  justify-content: center;
  max-width: 250px;
  padding: 10px;
  width: 100%;
}
.c-btn:hover {
  background-color: #fff;
  color: initial;
}
.c-btn::before {
  font-family: "Font Awesome 6 Free";
  font-size: 25px;
  font-weight: 400;
  padding-right: 10px;
}

.c-btn__mail::before {
  content: "\f0e0";
}

.c-btn__sns::before {
  content: "𝕏";
  font-size: 30px;
}

.c-btn__top {
  background-color: #6f6f6f;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  padding: 12px 16px;
  transition: 0.4s;
}
.c-btn__top:hover {
  opacity: 0.8;
}

.c-btn-type2 {
  background-color: #4a4a4a;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  max-width: 250px;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.c-btn-type2:hover {
  background-color: #fff;
  border-color: #4a4a4a;
  color: initial;
}

.c-btn-nav-contact {
  background-color: #ffffff;
  color: #4a4a4a;
}
.c-btn-nav-contact:hover {
  opacity: 0.8;
}

.c-side-menu {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 10px;
}
.c-side-menu::after {
  content: "-";
  padding-left: 5px;
}
.c-side-menu i {
  padding-right: 15px;
}
.c-side-menu:hover {
  background-color: #ffffff;
  color: #4a4a4a;
}

.c-heading {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.2px;
  position: relative;
}
.c-heading::after {
  content: "-";
  padding-left: 15px;
}

.c-heading span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  padding-top: 10px;
  position: absolute;
}

.p-nav {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 22px;
  padding: 20px;
}

.p-nav__title {
  font-size: 32px;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 290px;
  padding: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav__title {
    font-size: 2.3vw;
  }
}

.p-nav__inner {
  position: sticky;
  top: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav__contents {
    font-size: 16px;
  }
}

.p-nav-contents__item:not(:first-child) {
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav-contents__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav-contents__item {
    font-size: 16px;
  }
}

.p-nav__btn {
  margin-top: 45px;
}

.p-nav__btn__item:not(:first-child) {
  margin-top: 33px;
}

.p-fv-bg {
  background: url(../img/img_fv.png) no-repeat center center/cover;
  padding-top: 72%;
  position: relative;
}

.p-fv-title {
  bottom: 140px;
  left: 0;
  max-width: 710px;
  position: absolute;
}
@media (max-width: 767px) {
  .p-fv-title {
    padding: 7vw 11% 20%;
    position: static;
  }
}

.p-fv-title__bg {
  background: url(../img/bg_fv.png) no-repeat center center/contain;
  padding: 7%;
}
@media (max-width: 767px) {
  .p-fv-title__bg {
    background: url(../img/sp/bg_fv.png) no-repeat;
    background-size: 100%;
  }
}

.p-fv-title__en {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.p-fv-title__en::after {
  content: "-";
  padding-left: 20px;
}
@media (max-width: 767px) {
  .p-fv-title__en {
    font-size: 27px;
  }
}

.p-fv-t__text {
  font-size: 16px;
}
@media (max-width: 767px) {
  .p-fv-t__text {
    font-size: 13px;
  }
}

.p-fv-t__text-type1 {
  padding-top: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-fv-t__text-type1 {
    padding-top: 0;
  }
}

.p-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-box {
    display: block;
  }
}

.p-box__item {
  border: 1px solid #000;
  position: relative;
  text-align: center;
  width: calc(25% - 18px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-box__item {
    width: calc(50% - 24px);
  }
}
@media (max-width: 767px) {
  .p-box__item {
    width: 100%;
  }
}

.p-box__item-number {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.p-box__inner {
  padding: 15px;
}

.p-box__image {
  display: block;
  margin: 35px auto 0;
}

.p-box__title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.p-box__text {
  font-size: 14px;
  text-align: start;
}

.p-box__text-head {
  padding-top: 20px;
}

.p-img-massage {
  display: flex;
  flex-shrink: 1;
}
@media (max-width: 767px) {
  .p-img-massage {
    display: block;
  }
}

.p-img-massage__i {
  width: 50%;
}
@media (max-width: 767px) {
  .p-img-massage__i {
    margin-top: 20px;
    width: 100%;
  }
}

.p-works {
  background-color: #fafafa;
  padding-bottom: 70px;
  padding-top: 95px;
}

.p-work-item__image {
  box-shadow: 10px 10px 30px -10px #000;
  display: block;
  transition: 0.3s;
}
.p-work-item__image:hover {
  transform: scale(1.3);
}

.p-work-item__name {
  line-height: 25px;
  margin-top: 25px;
}

.p-work-item__btn {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}
.p-work-item__btn:hover {
  opacity: 0.5;
}

.p-works__btn {
  margin: 20px auto 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-works__btn {
    margin-top: 40px;
  }
}

.p-service__text {
  line-height: 1.5;
}

.p-service__about-item {
  flex: 1;
}

.p-service__about-image {
  margin: 0 auto;
  -o-object-fit: cover;
  height: 30%;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-service__about-image {
    height: 20%;
  }
}

.p-service__about-title {
  font-weight: 700;
  margin: 24px 0;
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-service__about-title {
    font-size: 15px;
  }
}

.p-service__about-text {
  font-size: 14px;
}

.p-flow {
  background: #fafafa;
  padding-bottom: 65px;
  padding-top: 95px;
}

.p-flow__box {
  margin-top: 95px;
}

.p-massage {
  padding-bottom: 110px;
  padding-top: 65px;
}

.p-footer__title {
  font-size: 42px;
  font-weight: 600;
}

.p-footer__title span {
  display: block;
  font-size: 17px;
  font-weight: 400;
  padding-top: 26px;
}

.p-footer__contact-btn {
  font-size: 20px;
  font-weight: 600;
  padding-top: 35px;
}

.p-footer__contacts {
  color: #fff;
  flex: 1;
  padding-bottom: 70px;
  padding-top: 110px;
  text-align: center;
}

.p-footer__contact {
  background: #6f6f6f;
}

.p-footer__sns {
  background: #4a4a4a;
}

.p-footer__copyright {
  color: #000;
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: center;
}

.u-m-while {
  margin: 30px 0;
}

.u-hidden-sp {
  display: block;
}
@media (max-width: 767px) {
  .u-hidden-sp {
    display: none;
  }
}

.u-hidden-pc {
  display: none;
}
@media (max-width: 767px) {
  .u-hidden-pc {
    display: block;
  }
}

.u-is-show {
  opacity: 1;
}

.u-btn {
  background-color: aqua;
  margin-top: 20px;
  padding: 20px;
}

.dark-theme {
  background-color: #4a4a4a;
}