@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  color: currentColor;
          text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  line-height: 1;
}

html {
  line-height: 1;
}

body, html {
  margin: 0;
  padding: 0;
}

header {
  line-height: 1;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  overflow: visible;
}

.l-content__inner {
  display: flex;
}
@media (max-width: 767px) {
  .l-content__inner {
    display: block;
  }
}

.l-content-flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .l-content-flex {
    display: block;
  }
}

.l-content-flex__space:not(:first-child) {
  margin-left: 90px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-content-flex__space:not(:first-child) {
    margin-left: 6%;
  }
}
@media (max-width: 767px) {
  .l-content-flex__space:not(:first-child) {
    margin-left: 0;
  }
}

.l-btn-top {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.l-box__item-margin:not(:first-child) {
  margin-left: 24px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-box__item-margin:nth-child(2n+1) {
    margin-left: 24px;
  }
  .l-box__item-margin:nth-child(n+3) {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .l-box__item-margin:nth-child(n+2) {
    margin-top: 50px;
  }
  .l-box__item-margin:not(:first-child) {
    margin-left: 0;
  }
}

.l-nav__inner {
  padding: 20px;
  text-align: center;
  width: 265px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-nav__inner {
    width: 25vh;
  }
}

.l-nav-bar__inner {
  max-width: 370px;
  text-align: center;
  width: 100%;
}

.l-img-massage {
  margin-right: 55px;
  margin-top: 25px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-img-massage {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .l-img-massage {
    margin-right: auto;
    margin-top: 45px;
  }
}

.l-img-massage__m {
  margin-top: 55px;
}

.l-inner {
  margin: auto;
  max-width: 1418px;
  padding: 0 clamp(2.063rem, 1.182rem + 3.76vw, 4.188rem);
}

.l-section-top__type1 {
  margin-top: clamp(3.5rem, 3.345rem + 0.66vw, 3.875rem);
}

.l-section-top__type2 {
  margin-top: 100px;
}

.l-section-top__text {
  margin-top: 85px;
}
@media (max-width: 767px) {
  .l-section-top__text {
    margin-top: 55px;
  }
}

.l-section-top__content {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .l-section-top__content {
    margin-top: 45px;
  }
}

.l-section-btn {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .p-flow__text.l-section-top__text {
    margin-top: 57px;
  }
}

.c-btn {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  justify-content: center;
  max-width: 162px;
  padding: 5px;
  width: 100%;
}
.c-btn:hover {
  background-color: #fff;
  color: initial;
}
.c-btn::before {
  font-family: "Font Awesome 6 Free";
  font-size: clamp(1.25rem, 1.121rem + 0.55vw, 1.563rem);
  font-weight: 400;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .c-btn {
    font-size: 17px;
  }
}

.c-btn__mail::before {
  content: "\f0e0";
}

.c-btn__sns::before {
  content: "ð•";
}

.c-btn__top {
  background-color: #6f6f6f;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  padding: 12px 16px;
  transition: 0.4s;
}
.c-btn__top:hover {
  opacity: 0.8;
}

.c-btn-type2 {
  background-color: #4a4a4a;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  max-width: 250px;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.c-btn-type2:hover {
  background-color: #fff;
  border-color: #4a4a4a;
  color: initial;
}

.c-btn-nav-contact {
  background-color: #ffffff;
  color: #4a4a4a;
}
.c-btn-nav-contact:hover {
  opacity: 0.8;
}

.c-nav-item {
  color: #fff;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 10px;
}
.c-nav-item::after {
  content: "-";
  padding-left: 5px;
}
.c-nav-item i {
  padding-right: 15px;
}
.c-nav-item:hover {
  background-color: #ffffff;
  color: #4a4a4a;
}

.c-heading {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(2.5rem, 1.982rem + 2.21vw, 3.75rem);
  font-weight: 600;
  letter-spacing: 1.2px;
  position: relative;
}
.c-heading::after {
  content: "-";
  padding-left: 15px;
}

.c-heading span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  padding-top: 10px;
  position: absolute;
}
@media (max-width: 767px) {
  .c-heading span {
    font-size: 12px;
    padding-top: 7px;
  }
}

.c-hamburger {
  display: none;
}

.c-hamburger__menu {
  position: fixed;
  right: 25px;
  top: 30px;
  z-index: 200;
}

.c-hamburger__menu span {
  background: #fff;
  border-radius: 20px;
  display: block;
  height: 5px;
  transition: ease 0.4s;
  width: 30px;
}
.c-hamburger__menu span:not(:first-child) {
  margin-top: 5px;
}

.c-hamburger__menu.u-active {
  right: 21px;
  top: 36px;
}

.c-hamburger__menu.u-active span {
  width: 37px;
}

.c-hamburger__menu.u-active span:nth-child(1) {
  position: absolute;
  rotate: 45deg;
  top: 50%;
}

.c-hamburger__menu.u-active span:nth-child(2) {
  opacity: 0;
}

.c-hamburger__menu.u-active span:nth-child(3) {
  position: absolute;
  rotate: -45deg;
  top: 0;
}

.p-nav {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 22px;
}

.p-nav__title {
  font-size: 28px;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 290px;
  padding: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav__title {
    font-size: 2.3vw;
  }
}

@media (min-width: 768px) {
  .p-nav__inner {
    position: sticky;
    top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav__contents {
    font-size: 16px;
  }
}

.p-nav-contents__item:nth-of-type(1) {
  margin-top: 55px;
}
.p-nav-contents__item:nth-of-type(1n + 2) {
  margin-top: 16px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav-contents__item:nth-of-type(1n + 2) {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-nav-contents__item {
    font-size: 16px;
  }
}

.p-nav__btn {
  margin-top: 28px;
}

.p-nav__btn__item:not(:first-child) {
  margin-top: 22px;
}

.p-nav-sp {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.p-nav-sp__inner {
  padding: 20px;
}

.p-drawer-box {
  background-color: #4a4a4a;
  height: 100%;
  left: 500px;
  position: fixed;
  top: 86.5px;
  transition: all 0.4s;
  width: 100%;
  z-index: 100;
}

.p-drawer__list {
  border-top: 2px solid #fff;
  padding-top: 60px;
  text-align: center;
}

.p-drawer__item:not(:first-child) {
  margin-top: 25px;
}

.p-drawer__item-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  max-width: 162px;
}

.p-drawer__item-btn.c-btn__sns {
  margin-top: 28px;
}

.p-drawer__item-btn.c-btn__sns::before {
  padding-right: 0;
}

.p-fv-bg {
  background: url(../img/img_fv.png) no-repeat center center/cover;
  padding-top: 34.5rem;
  position: relative;
}

.p-fv-title {
  bottom: 75px;
  left: 0;
  max-width: 710px;
  position: absolute;
}
@media (max-width: 767px) {
  .p-fv-title {
    padding: 7vw 11% 20%;
    position: static;
  }
}

.p-fv-title__bg {
  background: url(../img/bg_fv.png) no-repeat center center/contain;
  padding: 6.5% 3% 6.5% 10%;
}
@media (max-width: 767px) {
  .p-fv-title__bg {
    background: url(../img/sp/bg_fv.png) no-repeat;
    background-size: 100%;
    bottom: 24px;
    padding: 11% 9% 13%;
    position: absolute;
  }
}

.p-fv-title__en {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.p-fv-title__en::after {
  content: "-";
  padding-left: 20px;
}
@media (max-width: 767px) {
  .p-fv-title__en {
    font-size: 42px;
  }
}

.p-fv-t__text {
  font-size: clamp(0.813rem, 0.735rem + 0.33vw, 1rem);
}
@media (max-width: 767px) {
  .p-fv-t__text {
    line-height: 1.5;
  }
}

.p-fv-t__text-type1 {
  padding-top: 21px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-fv-t__text-type1 {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .p-fv-t__text-type1 {
    padding-top: 21px;
  }
}

.p-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-box {
    display: block;
  }
}

.p-box__item {
  border: 1px solid #000;
  position: relative;
  text-align: center;
  width: calc(25% - 18px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-box__item {
    width: calc(50% - 24px);
  }
}
@media (max-width: 767px) {
  .p-box__item {
    width: 100%;
  }
}

.p-box__item-number {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .p-box__item-number {
    padding: 10px 17px;
  }
}

.p-box__inner {
  padding: 15px;
}

.p-box__image {
  display: block;
  margin: 35px auto 0;
}

.p-box__title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .p-box__title {
    font-size: 14px;
    margin-top: 25px;
  }
}

.p-box__text {
  font-size: 14px;
  text-align: start;
}
@media (max-width: 767px) {
  .p-box__text {
    line-height: 23px;
  }
}

.p-box__text-head {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .p-box__text-head {
    padding-top: 16px;
  }
}

.p-img-massage {
  display: flex;
  flex-shrink: 1;
}
@media (max-width: 767px) {
  .p-img-massage {
    display: grid;
  }
}

@media (max-width: 767px) {
  .p-img-massage__box {
    order: 2;
  }
}

@media (max-width: 767px) {
  .p-img-massage__m {
    line-height: 19px;
  }
}

.p-img-massage__i {
  width: 50%;
  -o-object-fit: contain;
  margin-top: 20px;
     object-fit: contain;
}
@media (max-width: 767px) {
  .p-img-massage__i {
    margin-top: auto;
    order: 1;
    width: 100%;
  }
}

.p-works {
  background-color: #fafafa;
  padding-bottom: 70px;
  padding-top: 95px;
}
@media (max-width: 767px) {
  .p-works {
    padding-bottom: 48px;
    padding-top: 60px;
  }
}

.p-works__text {
  line-height: 17px;
}

@media (max-width: 767px) {
  .p-works.l-section-top__type1 {
    margin-top: 50px;
  }
}

.p-work-item {
  display: inline-block;
}
@media (max-width: 767px) {
  .p-work-item:not(:first-child) {
    margin-top: 43px;
  }
}

@media (max-width: 767px) {
  .p-work__item-sp {
    pointer-events: none;
  }
}

.p-work-item__image {
  box-shadow: 10px 10px 30px -10px #000;
  display: block;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .p-work-item__image:hover {
    transform: scale(1.3);
  }
}

.p-work-item__name {
  font-weight: 700;
  line-height: 25px;
  margin-top: 14px;
}

.p-work-item__btn {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}
.p-work-item__btn:hover {
  opacity: 0.5;
}

.p-works__btn {
  margin: 20px auto 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-works__btn {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .p-works__btn {
    margin-top: 30px;
  }
}

.p-service__text {
  line-height: 1.5;
}

.p-service__about-item {
  display: block;
  flex: 1;
}
@media (max-width: 767px) {
  .p-service__about-item {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .p-service__about-item:not(:first-child) {
    margin-top: 36px;
  }
}

.p-service__about-image {
  margin: 0 auto;
  -o-object-fit: cover;
  height: 30%;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-service__about-image {
    height: 20%;
  }
}

.p-service__about-title {
  font-weight: 700;
  margin: 24px 0;
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .p-service__about-title {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .p-service__about-title {
    font-size: 14px;
    margin: 22px 0 10px;
  }
}

.p-service__about-text {
  font-size: 14px;
  line-height: 20px;
}

.p-flow {
  background: #fafafa;
  padding-bottom: 65px;
  padding-top: 95px;
}
@media (max-width: 767px) {
  .p-flow {
    padding-bottom: 50px;
    padding-top: 63px;
  }
}

.p-flow__box {
  margin-top: 95px;
}
@media (max-width: 767px) {
  .p-flow__box {
    margin-top: 65px;
  }
}

.p-flow__text {
  line-height: 23px;
}

.p-massage {
  padding-bottom: 110px;
  padding-top: 65px;
}
@media (max-width: 767px) {
  .p-massage {
    padding: 50px 0 56px;
  }
}

.p-img-massage__box > .c-heading::after {
  padding-left: 10px;
}

.p-footer__title {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
}

.p-footer__title span {
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 26px;
}
@media (max-width: 767px) {
  .p-footer__title span {
    font-size: 11px;
    padding-top: 11px;
  }
}

.p-footer__contact-btn {
  font-size: 20px;
  font-weight: 600;
  padding-top: 35px;
}
@media (max-width: 767px) {
  .p-footer__contact-btn {
    padding-top: 32px;
  }
}

@media (max-width: 767px) {
  .p-footer__contact-btn .c-btn {
    max-width: 161px;
  }
}

.p-footer__contacts {
  color: #fff;
  flex: 1;
  padding-bottom: 70px;
  padding-top: 110px;
  text-align: center;
}
@media (max-width: 767px) {
  .p-footer__contacts {
    padding-bottom: 37px;
    padding-top: 46px;
  }
}

.p-footer__contact {
  background: #6f6f6f;
}

.p-footer__sns {
  background: #4a4a4a;
}

.p-footer__copyright {
  color: #000;
  padding: 18px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .p-footer__copyright {
    font-size: 12px;
  }
}

.u-m-while {
  margin: 30px 0;
}

.u-hidden-sp {
  display: block;
}
@media (max-width: 767px) {
  .u-hidden-sp {
    display: none;
  }
}

.u-hidden-pc {
  display: none;
}
@media (max-width: 767px) {
  .u-hidden-pc {
    display: block;
  }
}

.u-is-show {
  opacity: 1;
}

.u-drawer-is-open {
  left: 0;
}

.u-btn {
  background-color: aqua;
  margin-top: 20px;
  padding: 20px;
}

.dark-theme {
  background-color: #4a4a4a;
}