@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  color: currentColor;
          text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  transition: 0.5s;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.l-inner {
  margin: auto;
  max-width: 1418px;
  padding: 0 95px;
}

.header {
  color: #000;
}
@media (max-width: 767px) {
  .header {
    color: red;
  }
}

.c-btn {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 15px 45px 15px 95px;
  position: relative;
}
.c-btn:hover {
  background-color: #fff;
  color: inherit;
}
.c-btn::before {
  font-family: "Font Awesome 6 Free";
  font-size: 25px;
  font-weight: 400;
  left: 15%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-btn__mail::before {
  content: "\f0e0";
}

.c-btn__sns::before {
  content: "𝕏";
  font-size: 30px;
}

.c-btn-top {
  background-color: #6f6f6f;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  padding: 10px 16px;
}
.c-btn-top:hover {
  opacity: 0.8;
}

.u-m-while {
  margin: 30px 0;
}

.u-btn {
  background-color: aqua;
  margin-top: 20px;
  padding: 20px;
}

.dark-theme {
  background-color: #4a4a4a;
}