@use "global" as global;

.l-content {

}

.l-content__inner {
    display: flex;

    @include global.mq('sp'){
        display: block;
    }
}

.l-content__main {
    
}

.l-content-flex {
    display: flex;
    justify-content: center;

    @include global.mq('sp') {
        display: block;
    }
}

.l-content-flex__space {
    &:not(:first-child) {
        margin-left: 90px;
        @include global.mq('tab') {
            margin-left: 6%;
        }

        @include global.mq('sp') {
            margin-left: 0;
        }
    }
}