@use "../global" as global;

.l-inner {
    margin:auto;
    max-width: global.$main-inner-width;
    padding: 0 95px;

    @include global.mq('tab') {
        padding: 0 45px;
    }

    @include global.mq('sp') {
        padding: 0 33px;
    }
}