@use "global" as global;

.l-img-massage {
    margin-top: 25px;
    margin-right: 55px;

    @include global.mq('tab') {
        margin-right: 20px;
    }

    @include global.mq('sp') {
        margin-top: 45px;
        margin-right: auto;
    }
}

.l-img-massage__m {
    margin-top: 70px;
}