@use "global" as global;

.l-nav__title {

}

.l-nav__inner {
    text-align: center;
    width: 370px;
    padding: 20px;

    @include global.mq('tab') {
        width: 20vh;
    }
}

.l-nav-bar__inner {
    max-width: 370px;
    width: 100%;
    text-align: center;
}