@use "global" as global;

.l-nav__title {
    margin: 90px auto 0;
}

.l-nav__inner {
    text-align: center;
    width: 370px;
}

.l-nav-bar__inner {
    max-width: 370px;
    width: 100%;
    text-align: center;
}