@use "../global" as global;

.l-section-top__type1 {
    margin-top: 95px;

    @include global.mq('tab') {
        margin-top: 55px;
    }

    @include global.mq('sp') {
        margin-top: 20px;
    }
}

.l-section-top__type2 {
    margin-top: 100px;
}

.l-section-top__text {
    margin-top: 85px;
}

.l-section-top__content {
    margin-top: 60px;
}

.l-section-btn {
    margin: 0 auto;
}