@use "../global" as global;

.l-section-top__type1 {
    margin-top: clamp(3.5rem, 3.345rem + 0.66vw, 3.875rem);
}

.l-section-top__type2 {
    margin-top: 100px;
}

.l-section-top__text {
    margin-top: 50px;
    @include global.mq('sp') {
    margin-top: 55px;
    }
}

.l-section-top__content {
    margin-top: 48px;
    @include global.mq('sp') {
        margin-top: 45px;
        }
}

.l-section-btn {
    margin: 0 auto;
}

.p-flow__text.l-section-top__text {
    @include global.mq('sp') {
     margin-top: 57px;
    }
}