@use "../global" as global;

.l-section-top__type1 {
    margin-top: 95px;
}

.l-section-top__type2 {
    margin-top: 100px;
}

.l-section-top__text {
    margin-top: 85px;
}

.l-section-top__content {
    margin-top: 60px;
}

.l-section-btn {
    margin: 0 auto;
}