@use "global" as global;

.p-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include global.mq("sp") {
        display: block;
    }
}

.p-box__item {
    width: calc(25% - 18px);
    text-align: center;
    border: 1px solid #000;
    position: relative;

    @include global.mq("tab") {
        width: calc(50% - 24px);
    }

    @include global.mq("sp") {
        width: 100%;
    }
}

.p-box__item-number {
    position: absolute;
    background-color: global.$main-color;
    color: #fff;
    font-size: 27px;
    padding: 10px 17px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;

    @include global.mq('sp') {
        padding: 10px 17px;
    }
}

.p-box__inner {
    padding: 15px;
}

.p-box__image {
    display: block;
    margin: 35px auto 0;
}

.p-box__title {
    font-weight: 600;
    font-size: 15px;
    margin-top: 24px;

    @include global.mq('sp') {
        font-size: 14px;
        margin-top: 25px;
    }
}

.p-box__text {
    font-size: 14px;
    text-align: start;
    line-height: 16px;
    @include global.mq('sp') {
    line-height: 23px;
    }
}

.p-box__text-head {
    padding-top: 20px;
    @include global.mq('sp') {
    padding-top: 16px;
    }
}