@use "../global" as global;


.p-drawer-box {
    position: fixed;
    left: 500px;
    top: 0;
    z-index: 100;
    background-color: global.$main-color;
    height: 100%;
    width: 100%;
    transition: all .4s;
}


.p-drawer__list {
    margin-top: 140px;
    text-align: center;
}

.p-drawer__item {
    &:not(:first-child) {
        margin-top: 25px;
    }
}

.p-drawer__item-btn {
 margin-left:auto;
 margin-right:auto;
 margin-top: 20px;
}

.p-drawer__item-btn.c-btn__sns::before {
    padding-right: 0;
}