@use "global" as global;

.p-flow {
    padding-top: 95px;
    padding-bottom: 65px;
    background: global.$bg-color;

    @include global.mq('sp') {
        padding-top: 63px;
        padding-bottom: 50px;
    }
}

.p-flow__box {
    margin-top: 95px;
    @include global.mq('sp') {
        margin-top: 65px;
    }
}

.p-flow__text {
    line-height: 23px;
}