@use "global" as global;

.p-fv {
}

.p-fv-bg {
    background: url(../img/img_fv.png) no-repeat center center / cover;
    padding-top: 72%;
    position: relative;

    @include global.mq('sp') {
        padding-bottom: 9%;
    }
}