@use "global" as global;

.p-fv-title {
    max-width: 710px;
    position: absolute;
    bottom: 75px;
    left: 0;
    @include global.mq("sp") {
        position: static;
        padding: 7vw 11% 20%;
    }
}

.p-fv-title__bg {
    background: url(../img/bg_fv.png) no-repeat center center / contain;
    padding: 6.5% 3% 6.7% 10%;
    @include global.mq("sp") {
    padding: 11% 9% 13%;
    background: url(../img/sp/bg_fv.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 24px;
    }
}

.p-fv-title__en {
    font-size: 40px;
    font-weight: 600;
    font-family: global.$font-en;

    &::after {
        content: "-";
        padding-left: 20px;
    }

    @include global.mq("sp") {
    font-size: 42px;
    }
}

.p-fv-t__text {
    font-size: clamp(0.813rem, 0.735rem + 0.33vw, 1rem);
    @include global.mq("sp") {
    line-height: 1.5;
    }
}

.p-fv-t__text-type1 {
    padding-top: 21px;
    @include global.mq("tab") {
    padding-top: 0;
    }

    @include global.mq("sp") {
    padding-top: 21px;
    }
}