@use "global" as global;

.p-img-massage {
    display: flex;
    flex-shrink: 1;

    @include global.mq("sp") {
     display: block;
    }
}

.p-img-massage__box {

}

.p-img-massage__m {

}

.p-img-massage__i {
    width: 50%;

    @include global.mq("sp") {
        margin-top: 20px;
        width: 100%;
    }
}