@use "global" as global;

.p-img-massage {
    display: flex;
    flex-shrink: 1;

    @include global.mq("sp") {
     display: grid;
    }
}

.p-img-massage__box {
    @include global.mq("sp") {
        order: 2;
    }
}

.p-img-massage__m {

}

.p-img-massage__i {
    width: 50%;
    object-fit: contain;
    margin-top: 20px;

    @include global.mq("sp") {
        margin-top: auto;
        width: 100%;
        order: 1;
    }
}