@use "global" as global;

.p-img-massage {
    display: flex;
    flex-shrink: 1;

    @include global.mq("sp") {
     display: grid;
    }
}

.p-img-massage__box {
    @include global.mq("sp") {
        order: 2;
    }
}

.p-img-massage__m {
    line-height: 24px;
    font-size: 15px;
    @include global.mq("sp") {
        line-height: 19px;
    }
}

.p-img-massage__i {
    width: 40.3%;
    object-fit: contain;

    @include global.mq("sp") {
        margin-top: auto;
        width: 100%;
        order: 1;
    }
}