@use "global" as global;

.p-massage {
    padding-top: 65px;
    padding-bottom: 110px;

    @include global.mq('sp') {
        padding: 50px 0 56px;
    }
}

.p-img-massage__box >.c-heading::after {
    padding-left: 10px;
}