@use "global" as global;

.p-nav {
    background-color: global.$main-color;
    color: #fff;
}

.l-nav__inner {
    text-align: center;
}

.p-nav-contents {
    margin-top: 120px;
}

.p-nav__btn {
    margin-top: 45px;
}

.p-nav__btn__item {
    &:not(:first-child) {
        margin-top: 33px;
    }
}