@use "global" as global;

.p-nav {
    background-color: global.$main-color;
    color: #fff;
}

.p-nav__title {
    max-width: 240px;
}

.p-nav__contents {
    margin-top: 120px;
}

.p-nav-contents__item {
    &:not(:first-child) {
        margin-top: 50px;
    }
}

.p-nav__btn {
    margin-top: 45px;
}

.p-nav__btn__item {
    &:not(:first-child) {
        margin-top: 33px;
    }
}