@use "global" as global;

.p-service {

}

.p-service__text {
    line-height: 1.5;
}

.p-service__about {
    
}

.p-service__about-item {
}

.p-service__about-image {
    margin:0 auto;
    height: 100%;
    max-height: 82px;
}

.p-service__about-title {
    text-align: center;
    font-weight: 700;
    margin: 24px 0;
}

.p-service__about-text {
    font-size: 14px;
}