@use "global" as global;

.p-works {
    padding-top: 95px;
    padding-bottom: 70px;
    background-color: global.$bg-color;
}

.p-works__item {
    
}

.p-work-item__image {
    display: block;
    box-shadow: 10px 10px 30px -10px #000;
    transition: .3s;

    &:hover {
        transform: scale(1.3);
    }
}

.p-work-item__name {
    margin-top: 25px;
}

.p-work-item__btn {
    margin-top: 10px;
    display: block;
    text-decoration: underline;

    &:hover {
        opacity: 0.5;
    }
}

.p-works__btn {
    margin: 20px auto 0;
}